# name of the action
name: reviewdog

# trigger on pull_request events
on:
  pull_request:

# NOTE: We have to specify `go_version: 1.17` because the action was installing 1.18.
# 1.18, in turn, is not fully supported by golangci-lint yet, and it can fail silently:
# see: https://github.com/reviewdog/action-golangci-lint/issues/249

# pipeline to execute
jobs:
  diff-review:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@v3

    - name: golangci-lint
      uses: reviewdog/action-golangci-lint@v2
      with:
        github_token: ${{ secrets.github_token }}
        go_version: 1.17.9
        golangci_lint_flags: "--config=.golangci.yml"
        fail_on_error: true
        filter_mode: diff_context
        reporter: github-pr-review

  full-review:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@v3

    - name: golangci-lint
      uses: reviewdog/action-golangci-lint@v2
      with:
        github_token: ${{ secrets.github_token }}
        go_version: 1.17.9
        golangci_lint_flags: "--config=.golangci.yml"
        fail_on_error: false
        filter_mode: nofilter
